body{ 
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{ 
    /* border: 2px solid red; */
    font-family:'Georgia', Times, Times New Roman, serif;
} 

section{
    background: url(../images/dust.png) repeat;
    /* background-repeat: repeat; */
    width: 960px;
}

nav ul li{
color:#777
}

nav ul li {
    display: inline;
}

.float {
    float: left;
}

.clear {
    clear: left;
}
h1{ 
background-color: #4aaaa5;
width: 270px;
text-align: center;
padding: 50px 10px;
margin-bottom: 0;
margin-left: 25px;
}

.social{float:left}

.sizing {width: 200px; height: 200px;}

footer{background-color: #666666;
    clear:both;
    height: 10%;
    border-top: 5px solid #4aaaa5;
} 

.button{background-color: #4aaaa5;}